{% extends 'base.html' %}
<!--{# 공용 공간의 데이터를 모두 가져오겠다. 확장시킴 #}-->

{% block body %}
   <h1>여기는 일제목록입니다.</h1>
   <!--{# {% for product in products %}
    # python : 와 indent로 for문 안 코드라고 나타내었지만, html 에서는 endfor을 이용하여 for문 안인 것을 알려준다.
    # 함수의 사용은 자제하는 것이 좋다. 원한다면 app.py 에서 연산후 원하는 값을 전달해 주는 거시 옳다.
    {{product}}  중괄호# 사이에 있는 것이 주석으로 인식 된다.
   {% endfor %} #}-->

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">제품명</th>
        <th scope="col">대체상품</th>
        <th scope="col">카테고리</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
        <tr> 
        <!--{# tr : table row #}-->
          <th scope="row">1</th>
          <td>{{product[0]}}</td>
          <td>{{product[2]}}</td>
          <td>{{product[1]}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
   
{% endblock %}